h1{
    padding-top: 25px;
}



h3{
    padding-bottom: 10px;
}


.section{
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

iframe {
    width: 100%;

.img {
    padding-top: 200px;
}

.right {
    padding-left: 15px;
    
}

.responsive-img {
    max-width:100%;
    display:block;
    height:auto;
  }


  @media only screen and (max-width: 769px) {
    .entry-content img {
        max-width: 50%;
    }
}

a {
    color: black;
  }
 
  #contact{
      color:black;
  }