h1{
    padding-top: 25px;
}

h3{
    padding-bottom: 25px;
}


.section{
    width: 50%;
    height: 100%;
    float: left;
    padding: 25px;
}

iframe {
    width: 100%;

.img {
    padding-top: 200px;
  
}

.right {
    padding-left: 15px;
    
}

